<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet" href="../../css/main.css"/>
    <title>Employees of the month</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>employees</h2>
<table class="fit_table">
    <tr>
        <th>ranking</th>
        <th>last_name</th>
        <th>first_name</th>
        <th>role</th>
        <th>date of assignment</th>
        <th>experience</th>
        <th>email</th>
        <th>age</th>
        <th>score</th>
    </tr>
    <tr th:each="e, rank : ${graphEmployee}">
        <td th:text="${rank.count}" align="center"></td>
        <td th:text="${e.surname}" align="center"></td>
        <td th:text="${e.name}" align="center"></td>
        <td align="center">
            <span th:each="r,c : ${e.roles}">
                <span th:if="${c.count} &lt; ${#lists.size(e.roles)}" th:text="${r}+ ', '"></span>
                <span th:unless="${c.count} &lt; ${#lists.size(e.roles)}" th:text="${r}"></span>
            </span>
        </td>
        <td th:text="${e.startDate}" align="center"></td>
        <td th:text="${e.experience}" align="center"></td>
        <td th:text="${e.email}" align="center"></td>
        <td th:text="${e.age}" align="center"></td>
        <td th:text="${e.score}" align="center"></td>
    </tr>
</table>

</body>
</html>