<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User home</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:substituteby="index::logout"></div>
<br/>
<div th:substituteby="user/search::newSearch"></div>
<br/>
<p>go to: <a href="/user/tableOverview">projects by sector</a></p>
<p>go to: <a href="/user/employeeByScore">best employees of all time</a></p>
<br/>
<p>go to: <a href="/user/create/employee">new employee</a></p>
<p>go to: <a href="/user/create/sector">new sector</a></p>
<p>go to: <a href="/user/create/client">new client</a></p>
<p>go to: <a href="/user/create/project">new project</a></p>
</body>
</html>