<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:substituteby="index::logout"></div>
<p>go to: <a href="/user/tableOverview">projects by sector</a></p>
<p>go to: <a href="/user/employeeByScore">best employees of all time</a></p>
<br/>
<p>go to: <a href="/user/newEmployee">new employee</a></p>
<p>go to: <a href="/user/newSector">new sector</a></p>
<p>go to: <a href="/user/newClient">new client</a></p>
<p>go to: <a href="/user/newProject">new project</a></p>
</body>
</html>