<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet" href="../../css/main.css"/>
    <title>table overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:substituteby="index::logout"></div>
<h1>graph table</h1>
<h2>clients</h2>
<table>
    <tr>
        <th>sector</th>
        <th>name</th>
        <th>experience</th>
        <th>projects</th>
    </tr>
    <tr th:each="c : ${graphClient}">
        <td th:text="${c.sector}"></td>
        <td th:text="${c.client}"></td>
        <td th:text="${c.experience}"></td>
        <td th:each="p : ${c.projects}">
            <span><a th:text="${p.name}" th:href="'#'+${p.name}"></a></span>
        </td>
    </tr>
</table>
<h2>projects</h2>
<div th:each="proj: ${graphProject}" class="card">
    <div th:id="${proj.name}">
        <table>
            <tr>
                <th>last_name</th>
                <td th:text="${proj.name}"></td>
            </tr>
            <tr>
                <th>cost</th>
                <td th:text="${proj.cost}"></td>
            </tr>
            <tr>
                <th>score</th>
                <td th:text="${proj.score}"></td>
            </tr>
            <tr>
                <th>version</th>
                <td th:text="${proj.version}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>