<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Entity</title>
</head>
<body>
<div th:substituteby="index::logout"></div>
<h1>new Client</h1>
<form action="#" method="post" th:action="@{/user/create/createEmployee}" th:object="${employeeToken}">
    surname:&nbsp;
    <input id="surname" type="text" th:field="${employeeToken.surname}"/><br/>
    name:&nbsp;
    <input id="name" type="text" th:field="${employeeToken.name}"/><br/>
    email:&nbsp;
    <input id="email" type="email" th:field="${employeeToken.email}"/><br/>
    gender:&nbsp;
    <select id="gender" th:field="${employeeToken.gender}">
        <option value="m">m</option>
        <option value="v">v</option>
    </select><br/>
    start date of work:&nbsp;
    <input id="startDate" type="date" th:field="${employeeToken.startDateOfWork}"/><br/>
    age:&nbsp;
    <input id="age" type="number" th:field="${employeeToken.age}"/><br/>
    experience:&nbsp;
    <input id="experience" type="number" th:field="${employeeToken.experience}"/><br/>
    <input id="submit" type="submit" value="Create"/>
</form>
</body>
</html>