<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Entity</title>
</head>
<body>
<div th:substituteby="index::logout"></div>
<h1>new Project</h1>
<form action="#" method="post" th:action="@{/user/create/createProject}" th:object="${projectToken}">
    name:&nbsp;
    <input type="text" th:field="${projectToken.name}"/><br/>
    cost:&nbsp;€
    <input type="number" min="0" step="0.1" th:field="${projectToken.cost}"/><br/>
    start date:&nbsp;
    <input type="date" th:field="${projectToken.dateStarted}"/><br/>
    version:&nbsp;
    <input type="text" th:field="${projectToken.version}"/><br/>
    client:
    <select th:field="${projectToken.client}">
        <option th:each="s : ${clients}" th:text="${s.name}" th:value="${s.id}" name="client"></option>
    </select><br/>
    team:
    <div th:each="e,stat : ${employees}">
        <input type="checkbox" name="employeesCollaborated" th:value="${e.id}"
               th:text="${e.surname} + ' ' + ${e.name}"/>
        role:<input type="text" name="roles"/><br/></div>
    <input type="submit" value="Create"/>
</form>
</body>
</html>